name: Test released package

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - name: remove java
        run: |
          sudo rm -f "$(which java)" "$(which javac)"
          java --version || true
      - name: Install pmd-bin
        run: |
          unset JAVA_HOME
          npm install --global pmd-bin@latest
          npm ls --global
      - name: Run tests
        run: |
          bash test.sh
          pmd --version
